<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminControllerServlet</servlet-name>
  	<display-name>AdminControllerServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.ph2.controllers.AdminControllerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AcademyServlet</servlet-name>
  	<display-name>AcademyServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.ph2.controllers.AcademyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminControllerServlet</servlet-name>
  	<url-pattern>/AdminControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AcademyServlet</servlet-name>
  	<url-pattern>/AcademyServlet</url-pattern>
  </servlet-mapping>
</web-app>
